{
  "presets": [
    ["vue-app", {
      "useBuiltIns": true
    }]
  ],
  "plugins": [["component", [
    {
      "libraryName": "element-ui",
      "styleLibraryName": "theme-default"
    }
  ]]]
}
