{
  "plugins": ["prettier"],
  "extends": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "parserOptions": {
          "ecmaVersion": 2017
  },
  "env": {
          "es6": true
  }
}
